<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.prohit.sdptapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/SDPT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rest"></activity>
        <activity android:name=".Movies" />
        <activity android:name=".Share" />
        <activity android:name=".Villages" />
        <activity android:name=".Mandals" />
        <activity android:name=".Malls" />
        <activity android:name=".Emergency" />
        <activity android:name=".Colleges" />
        <activity android:name=".Schools" />
        <activity android:name=".Tourism" />
        <activity android:name=".Bus" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>